<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/img/tiend.ico" type="image/ico" />
<title>SYSTEM PERÚ</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/sweetalert2.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">

			<header th:replace="layouts/fragmentos :: menu"> </header>

			 <div class="right_col" role="main">



          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Anular Venta</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
          

              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Anular Venta <small>Anulación de Boletas y/o Facturas.</small></h2>

                    
                    <ul class="nav navbar-right panel_toolbox">

                      
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

<small>Realizar búsqueda por número de comprobante.</small>
                    <div class="title_right">
                      <div class="col-md-12 col-sm-12   form-group pull-right top_search">
                        
                      </div>
                    </div>

                      <div class="card-body">
                          <table id="datatablesSimple">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                       <th>Usuario</th>
                                      <th>DNI</th>
                                      <th>Nombres</th>
                                      <th>Apellidos</th>
                                      <th>Documento</th>
                                      
                                      <th>Nº Comprob.</th>
                                      <th>Total</th>
                                      <th>Descuento</th>
                                   <th>Fecha registro</th>
                                      <th>Acciones</th>
                                      
                                  </tr>
                              </thead>
                              <tfoot>
                                  <tr>
                                    <th>#</th>
                                       <th>Usuario</th>
                                      <th>DNI</th>
                                      <th>Nombres</th>
                                      <th>Apellidos</th>
                                      <th>Documento</th>
                                      
                                      <th>Nº Comprob.</th>
                                      <th>Total</th>
                                      <th>Descuento</th>
                                   <th>Fecha registro</th>
                                      <th>Acciones</th>
                                  </tr>
                              </tfoot>
                              <tbody>
                                  <tr>
                                      <td>1</td>
                                      <td>144710</td>
                                      <td>45698754</td>
                                      <td>Will</td>
                                      <td>Soriano</td>
                                      <td>987654123</td>
                                      <td>Administrador</td>
                                      <td>987654123</td>
                                      <td>Administrador</td>
                               
                                      <td>2011/04/25</td>
                                      
                                     <td>
                                          <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="" href="#">Anular</a></td>
                                  </tr>
                                  <tr>
                                      <td>2</td>
                                      <td>725478</td>
                                      <td>Tokyo</td>
                                      <td>Jonas</td>
                                      <td>987412589</td>
                                      <td>Vendedor</td>
                                      <td>111@yahoo.com</td>
                                   <td>987654123</td>
                                      <td>Administrador</td>
                                     
                                      <td>2011/04/25</td>
                                       
                                      <td>
                                          <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="" href="#">Anular</a></td>
                                  </tr>
                                
                              </tbody>
                          </table>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
           


            
        </div>
        </div>

        
		</div>	 
        



		</div>

		<footer th:replace="layouts/fragmentos :: derechos"></footer>

	</div>
	</div>
 
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/js/sweetalert2.all.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/custom.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script th:src="@{/js/simple-datatables@latest.js}"></script>
	<script th:src="@{/js/datatables-simple-demo.js}"></script>
	<script th:src="@{/js/alert.js}"></script>

</body>
</html>