<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/img/tiend.ico" type="image/ico" />
<title>SYSTEM PERÚ</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/custom.min.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/sweetalert2.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/calculator.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/conversor.css}">
</head>

<body class="nav-md">
	<div class="container body">
		<div class="main_container">

			<header th:replace="layouts/fragmentos :: menu"> </header>

			<div class="right_col" role="main">



				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>Módulo Ayuda</h3>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<div class="x_panel">
								<div class="x_title">
									<h2>¿Qué es esto?</h2>
									<ul class="nav navbar-right panel_toolbox">

									</ul>
									<div class="clearfix"></div>
								</div>
								<p>Este Software es un Sistema de Facturación de uso
									comercial para bodegas, tiendas, minimarkets y/o pequeños
									establecimientos.</p>
								<p>El Sistema cuenta con los siguientes módulos:</p>
								<li type="disc">Gestión de Administradores (Administrador,
									Vendedor, entre otros.)</li>
								<li type="disc">Gestión de Usuarios</li>
								<li type="disc">Gestión de Clientes</li>
								<li type="disc">Gestión de Proveedores</li>
								<li type="disc">Gestión de Productos</li>
								<li type="disc">Gestión de Categorías</li>
								<li type="disc">Registro de Compras</li>
								<li type="disc">Registro de Ventas</li>
								<li type="disc">Registro de Cotizaciones</li>
								<li type="disc">Kardex e Inventario</li>
								<li type="disc">Boletas y Facturas de venta en formato PDF</li>
								<li type="disc">Reporte de Ganancias</li>
								<li type="disc">Reporte Otros</li>
							</div>
						</div>



					</div>

					<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<div class="x_panel">
								<div class="x_title">
									<h2>Soporte Técnico</h2>
									<ul class="nav navbar-right panel_toolbox">

									</ul>
									<div class="clearfix"></div>
								</div>
								<p>Este Software fue desarrollado e implementado por los
									alumnos del 8vo ciclo de la carrera profesional de Ingeníeria
									de Sistemas Computacionales, el cual podrán brindarle la
									asesoria técnica correspondiente.</p>
								<p>Comunicarse a los siguientes correos electrónicos:</p>
								<li type="disc">Manuel Santisteban: n00144710@upn.pe</li>
								<li type="disc">Manuel Santisteban: n00144710@upn.pe</li>
								<li type="disc">Manuel Santisteban: n00144710@upn.pe</li>
								<li type="disc">Manuel Santisteban: n00144710@upn.pe</li>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<div class="x_panel">
								<div class="x_title">
									<h2>Recomendaciones SUNAT</h2>
									<ul class="nav navbar-right panel_toolbox">

									</ul>
									<div class="clearfix"></div>
								</div>
								<p>Para negocios en Perú considerar el 18% como impuesto
									general a las ventas (IGV).</p>

							</div>
						</div>



					</div>

				</div>
			</div>

		</div>

		<footer th:replace="layouts/fragmentos :: derechos"></footer>

	</div>
	</div>


	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/js/sweetalert2.all.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/js/custom.min.js}"></script>
	<script th:src="@{/js/scripts.js}"></script>
	<script th:src="@{/js/simple-datatables@latest.js}"></script>
	<script th:src="@{/js/alert.js}"></script>
	<script th:src="@{/js/conversor.js}"></script>
</body>
</html>
