<!DOCTYPE html>
<html lang=”en”>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/stylef.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/all.css}">
<link rel="icon" href="/img/tiend.ico" type="image/ico" />
<title>¿No puedes acceder a tu cuenta?</title>
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col-12 border titulo">
				<h1 class="text-center">
					¿No puedes acceder a tu cuenta?</i>
				</h1>

			</div>

		</div>
		<div class="row mt-4">
			<div class="col-12">
				<div class="card">
					<div class="card-header titul text-center">
						<img class="rounded-circle z-depth-2 text-center " alt="80px"
							width="80px" src="/img/ff.PNG" data-holder-rendered="true">
						<h1 class="text-center">
							SYSTEM PERU</i>
						</h1>
					</div>
					<div class="card-body">


						<form>
							<div class="mb-3">
								<label for="exampleInputEmail1" class="form-label">Ingresar
									correo electrónico</label> <input type="email" class="form-control"
									id="exampleInputEmail1" aria-describedby="emailHelp"
									placeholder="alguien@example.com">
								<div id="emailHelp" class="form-text">Se enviara su
									contraseña a su cuenta de correo electrónico registrada.</div>
							</div>


							<button type="submit" class="btn btn-primary ">Enviar
								Contraseña</button>


						</form>


					</div>
				</div>
			</div>

		</div>


		<div class="row rounded cuadro-2 my-3 py-4 px-5 inte">
			<div class="col-12 "></div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>